nav {
    background-color: #49C;
    width:100%;
    margin: -7px;
    padding: 7px;
}

.navbutton {
    font-size: 30px;
    font-family: Arial;
    padding: 25px;
}

.pages {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}
