h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(90,90,90);
    font-family: "Brush Script MT", cursive, sans-serif;
}
body {
    text-align: center;
    font-size: 18px;
    color: rgb(90,90,90);
    font-family: "Arial", sans-serif;
}
img {
    center;
}
html {
    border-style: ridge;
    border-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-color: rgb(20,20,20);
    background-image: url("download.png");
    background-size: contain;
    background-repeat: repeat-x;
}